<div>
    <h1><b>Mobiquity Inc.</b></h1>
        <div class="faded"><i>( Jan 2020 - Present )</i><br>
            <i>Amsterdam, The Netherlands</i>
        </div>
        <br>
        <h1> Project Details</h1>
        <br>
        <div>
            <h3>Digital Bank</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Project</th>
                        <td>KIB - Kuwait Internation Bank<br>
                        <div class="faded"><i>( Nov 2020 - Present )</i><br>
                            <i>Amsterdam, The Netherlands</i>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td>A full fleged digtal banking application from scratch</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Technical Lead/Senior Software Engineer</td>
                    </tr>
                    <tr>
                        <th scope="row">Tech stack</th>
                        <td>Java 11, SpringBoot, Spring Cloud, Spring Config server, Rest APIs (OAS), MSSQL, Keycloak, Liquibase, Backbase,<br>
                            Docker, Kubernetes, Helm</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibilities</th>
                        <td>
                            Leading the BE team of 4 developers<br>                        
                            Working with POs and Scrum masters to understand and prioritise requirements.<br>
                            Working closely with SAs and Devops to design and solution a requirement.<br>
                            Removing any impediments and helping team with their day to day tasks and implementations.<br>
                            Maintaining helm charts and deploying services across different environments<br>
                            Collaborate with FE and QA teams to help them consume and test Backend services.<br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Contributions</th>
                        <td>
                            Delivered the spring coud config server set up which is used to store common configurations across all the BE services.<br>
                            Developed the Password recovery flow using Backbase and Keycloak.<br>
                            Developed the session management system of the APP which restricts one session across channel (web/mobile)<br>
                            Developed APIs for device management<br>
                            Implemented the Audit functionality for all the APIs<br>
                            Fixing sonar issues and addressing security vulnerabilities<br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Digital Onboarding App</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Project</th>
                        <td>Onboarding App<br>
                            <div class="faded"><i>( Jun 2020 - Oct 2020 )</i><br>
                                <i>Pune, Maharashtra, India</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td>A digital customer onboarding solution from scratch. This app has stateful ( on closing the app, onboarding starts from where it was left )<br>
                            loose pluggable components like email verification, mobile verification, address and document verification ( using Jumio ). <br>
                            It can be integrated with any products (new or existing). We integrated it with core banking app using Mambu. </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Backend Lead</td>
                    </tr>
                    <tr>
                        <th scope="row">Tech stack</th>
                        <td>Java 8, Springboot, AWS, REST APIs (Open API), Liquibase, Jenkins, Jumio & Mambu framework</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibilities</th>
                        <td>
                            Get functional requirements from stakeholders<br>
                            Designing the Backend REST APIs (contract first approach)<br>
                            Delegating work to backend team members<br>
                            Develop CI/CD pipeline using Jenkins, Gitlab, AWS Beanstalk<br>
                            Assisting team members in implementation<br>
                            Collaborating with QA and Front end to help them test and develop the mobile app<br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Millicom: Payment Gateway</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Project</th>
                        <td>Payment Gateway<br>
                            <div class="faded"><i>( Jan 2020 - May 2020 )</i><br>
                                <i>Pune, Maharashtra, India</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td>A payment gateway integration software for telecom domain architected in AWS cloud.</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Backend Engineer</td>
                    </tr>
                    <tr>
                        <th scope="row">Tech stack</th>
                        <td>Java 8, AWS Serverless, AWS Aurora(MYSQL), Flyway</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibilities</th>
                        <td>
                            Develop and maintain AWS lambda functions based on business requirements<br>
                            Write Flyway scripts<br>
                            Optimizing code to reduce lambda loads<br>
                            Doing code reviews and sonar fixes<br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Awards/Recognition</th>
                        <td>Team Mobstar Award - ( Jun 2020 )</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>