<div>
    <h1><b>FIS Solutions Pvt. Ltd.</b></h1>
    <div class="faded"><i>( Dec 2018 - Dec 2019 )</i><br>
        <i>Pune, Maharashtra, India</i>
    </div>
        <br>
        <h1> Project Details </h1>
        <br>
        <div>
            <h3></h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Project</th>
                        <td>
                            EBAM - Electronic Bank Account Management<br>
                            <div class="faded"><i>( Dec 2018 - Dec 2019 )</i><br>
                                <i>Pune, Maharashtra, India</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td>Application to help corporates manage their Bank account and fees charged by banks</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Prouct Development Engineer</td>
                    </tr>
                    <tr>
                        <th scope="row">Tech stack</th>
                        <td>Java 8, Spring, AngularJS, Rest APIs, mySQL, Oracle, Jenkins</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibilities</th>
                        <td>
                            Contributing to the software designing and development of products across the build, unit tests and integration tests phases adhering to best practices.<br>
                            Fixing API automation (Jmeter) and UI automation (Selenium) scripts. <br>
                            Building Jenkins jobs to improve the CI/CD process.<br>
                            Providing support for technical queries, production issues and releasing patches.<br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>