<div>
    <h1><b>Tata Consultancy Services</b></h1>
    <div class="faded"><i>( Jul 2016 - Nov 2018 )</i><br>
        <i>Pune, Maharashtra, India</i>
    </div>
        <br>
        <h1> Project Details </h1>
        <br>
        <div>
            <h3></h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Project</th>
                        <td>
                            CITI Bank: Alto - Latam payment gateway<br>
                            <div class="faded"><i>( Jul 2016 - Nov 2018 )</i><br>
                                <i>Pune, Maharashtra, India</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td>A payment processing application of CITI Bank for LATAM region</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Systems Engineer</td>
                    </tr>
                    <tr>
                        <th scope="row">Tech stack</th>
                        <td>Java, Spring, Websphere, Weblogic, JMS, Oracle, Teamcity</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibilities</th>
                        <td>
                            Working in banking domain.<br>
                            Working closely with clients and Stake holders to understand their requirements and resolving their queries.<br>
                            Designing and developing modules for a payment processing application to rollout the app for different countries.<br>
                            This also includes production support, QA bug analysis, resolution and UAT logs analysis.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>